:root {
    --primary-color: #57fafa;
}

body {
    background: #F2F2F2;
    margin: 2;
    font-family: 'Arial Rounded MT';
}

.navbar {
    background: white;
    padding: 1em;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: rgb(157, 29, 168);
        font-size: 1.2em;
        span {
            color: var(--primary-color);
        }
    }
    nav {
        display: none;
    }
    .container {
        display: flex;
        place-content: space-between;
    }
    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: aquamarine;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}